ul, ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: #232323;
}

a, a:hover, a:focus {
  text-decoration: none;
}

p {
  margin: 0;
}

input, textarea {
  outline: none;
  color: #212121;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sansexb';
  src: url("../fonts/OpenSans-ExtraBold.eot");
  src: url("../fonts/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #545454;
  background: #fff;
  font-size: 14px;
  line-height: 16px;
  font-family: "Arial";
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 0 2px #eee;
  -webkit-box-shadow: 0 0 0 2px #eee;
}

.container {
  max-width: 1218px;
  width: 100%;
  padding: 0 9px;
}

.row-pc {
  margin: 0 -9px;
}

.row-pc-5 {
  margin: 0 -5.5px;
}

.col-pc-6 {
  float: left;
  padding: 0 9px;
  width: 50%;
}

.col-custom-70 {
  float: left;
  padding: 0 5.5px;
  width: 70%;
}

.col-custom-30 {
  float: left;
  padding: 0 5.5px;
  width: 30%;
}

.col-cs-4, .col-cs-8, .col-cs-6, .col-cs-12 {
  float: left;
  padding: 0 5.5px;
  margin-bottom: 11px;
}

.col-cs-4 {
  width: 33.3333%;
}

.col-cs-6 {
  width: 50%;
}

.col-cs-8 {
  width: 66.6666%;
}

.col-cs-12 {
  width: 100%;
}

.bg-smoke {
  background: #e5e5e5;
}
@media only screen and (max-width: 991px) {
  .bg-smoke {
    padding-top: 60px;
  }
}

.w-100 {
  width: 100%;
}

.pdt-85 {
  padding-top: 85px;
}

.pdt-50 {
  padding-top: 50px;
}

.pdt-64 {
  padding-top: 64px;
}

.pdt-73 {
  padding-top: 73px;
}

.row-5 {
  margin: 0 -5px;
}

.row-12 {
  margin: 0 -12px;
}

.form-enter-infoinsert .selects-condition .btn-condition.active {
  background: #3F40B9 url("../images/Path59.svg") no-repeat;
  background-position: 13px 11px;
  color: #fff;
  z-index: 999;
}

.form-enter-infoinsert .selects-condition .btn-condition.active:hover {
  background: #3F40B9 url("../images/Path59.svg") no-repeat;
  background-position: 13px 11px;
}

.form-enter-infoinsert ul.dropdown-form-rp li.item-form-rp .name-rp.rotate-down svg.minus-line {
  display: inline-block;
}

.form-enter-infoinsert ul.dropdown-form-rp li.item-form-rp .name-rp.rotate-down svg.plus-line {
  display: none;
}

.lbl-item-info {
  font-size: 12px;
  line-height: 14px;
  color: #757575;
  margin-bottom: 10px;
  font-weight: 400;
}
.lbl-item-info span {
  color: red;
}

.btn-down-select, input.enter-data-info, .btn-search-pay, .btn-calculate {
  width: 100%;
  height: 35px;
  padding: 7px 18px 12px;
  position: relative;
  text-align: left;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.dropdown-x {
  position: relative;
}

.caret {
  position: absolute;
  top: 15px;
  right: 16px;
  z-index: 9;
}

.btn-main-pay-look {
  width: 181px;
  height: 35px;
  background: #2828B2;
  text-align: center;
  border: none;
  color: #fff;
  line-height: 35px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.btn-search-pay {
  background: #2828B2;
  color: #fff;
  text-align: center;
}

.btn-search-pay:hover, .btn-calculate:hover, .btn-main-pay-look:hover {
  background: rgba(92, 92, 213, 0.9803921569);
}

input.enter-data-info {
  line-height: 35px;
  padding: 9px 18px 9px;
}

input[disabled="disabled"] {
  background: #EAEAEA;
  color: #757575;
}

.bread-crumb {
  padding: 17px 0 22px;
}
.bread-crumb span.icon-home i {
  font-size: 17px;
  margin-right: 8px;
}
.bread-crumb span.icon-space {
  margin: 0 9px 0 20px;
}
.bread-crumb span i {
  color: #2828B2;
}

.title-heading {
  color: #2828B2;
  text-transform: uppercase;
  margin-top: 0;
  font-size: 14px;
  font-weight: 700;
}

.caret {
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  color: #b2b2b2;
}

@media only screen and (max-width: 500px) {
  .col-500-12 {
    width: 100%;
  }
}
.section-search .txt-search {
  margin-bottom: 19px;
  margin-top: 38px;
}
@media only screen and (max-width: 500px) {
  .section-search .txt-search {
    margin-bottom: 15px;
    margin-top: 15px;
  }
}
.section-search .form-search-auction {
  margin-bottom: 41px;
}
@media only screen and (max-width: 991px) {
  .section-search .form-search-auction {
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 500px) {
  .section-search .form-search-auction {
    margin-bottom: 10px;
  }
}
.section-search .form-search-auction .name-auction-group {
  position: relative;
  margin-right: 21px;
}
@media (max-width: 1199px) and (min-width: 992px) {
  .section-search .form-search-auction .name-auction-group {
    margin-right: 2px;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 991px) {
  .section-search .form-search-auction .name-auction-group {
    width: 50%;
    margin-right: 0;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 500px) {
  .section-search .form-search-auction .name-auction-group {
    width: 100%;
  }
}
.section-search .form-search-auction .name-auction-group input {
  width: 436px;
  height: 50px;
  padding: 0 68px;
  border-radius: 30px;
  border: none;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
@media only screen and (max-width: 991px) {
  .section-search .form-search-auction .name-auction-group input {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .section-search .form-search-auction .name-auction-group input {
    height: 35px;
  }
}
.section-search .form-search-auction .name-auction-group input::-webkit-input-placeholder {
  color: #757575;
  font-size: 12px;
}
.section-search .form-search-auction .name-auction-group input::-moz-placeholder {
  color: #757575;
  font-size: 12px;
}
.section-search .form-search-auction .name-auction-group input:-ms-input-placeholder {
  color: #757575;
  font-size: 12px;
}
.section-search .form-search-auction .name-auction-group input:-moz-placeholder {
  color: #757575;
  font-size: 12px;
}
.section-search .form-search-auction .name-auction-group svg {
  position: absolute;
  top: 14px;
  left: 22px;
}
@media only screen and (max-width: 991px) {
  .section-search .form-search-auction .name-auction-group svg {
    top: 7px;
  }
}
.section-search .form-search-auction .choose-date {
  margin-right: 25px;
}
@media (max-width: 1199px) and (min-width: 992px) {
  .section-search .form-search-auction .choose-date {
    margin-right: 2px;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 991px) {
  .section-search .form-search-auction .choose-date {
    width: 50%;
    margin-right: 0;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 500px) {
  .section-search .form-search-auction .choose-date {
    width: 100%;
  }
}
.section-search .form-search-auction .choose-date input {
  width: 266px;
  height: 50px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border: none;
  padding: 0 29px;
}
@media only screen and (max-width: 991px) {
  .section-search .form-search-auction .choose-date input {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .section-search .form-search-auction .choose-date input {
    height: 35px;
  }
}
.section-search .form-search-auction .issuers {
  margin-right: 17px;
  position: relative;
}
@media (max-width: 1199px) and (min-width: 992px) {
  .section-search .form-search-auction .issuers {
    margin-right: 2px;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 991px) {
  .section-search .form-search-auction .issuers {
    width: 75%;
    margin-right: 0;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 500px) {
  .section-search .form-search-auction .issuers {
    width: 100%;
  }
}
.section-search .form-search-auction .issuers .btn-issuers {
  width: 266px;
  height: 50px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border: none;
  color: #757575;
  padding: 0 29px;
  background: #fff;
  text-align: left;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
@media only screen and (max-width: 991px) {
  .section-search .form-search-auction .issuers .btn-issuers {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .section-search .form-search-auction .issuers .btn-issuers {
    height: 35px;
  }
}
.section-search .form-search-auction .issuers .dropdown-menu {
  width: 266px;
}
.section-search .form-search-auction .issuers span.caret {
  position: absolute;
  top: 24px;
  right: 26px;
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  color: #757575;
}
@media only screen and (max-width: 500px) {
  .section-search .form-search-auction .issuers span.caret {
    top: 15px;
  }
}
.section-search .form-search-auction .btn-search-auction {
  width: 166px;
  height: 50px;
  border: none;
  background: #2828B2;
  color: #fff;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.section-search .form-search-auction .btn-search-auction:hover {
  background: rgba(92, 92, 213, 0.9803921569);
}
@media only screen and (max-width: 991px) {
  .section-search .form-search-auction .btn-search-auction {
    width: 25%;
    float: left;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 500px) {
  .section-search .form-search-auction .btn-search-auction {
    width: 100%;
    height: 35px;
  }
}

#main-nav .logo h1 {
  font-size: unset;
  margin: 15px 0 12px;
}
#main-nav .utiliti .menu {
  display: inline-block;
}
@media only screen and (max-width: 500px) {
  #main-nav .utiliti .menu {
    width: 100%;
  }
}
#main-nav .utiliti .menu > li {
  position: relative;
  display: inline-block;
}
#main-nav .utiliti .menu > li:hover > a:before {
  transform: scale(1);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
#main-nav .utiliti .menu > li:hover > a {
  color: #2828B2;
}
#main-nav .utiliti .menu > li > a {
  display: block;
  color: #000000;
  padding: 24px 17px 23px 35px;
}
#main-nav .utiliti .menu > li > a:before {
  content: '';
  position: relative;
  top: 39px;
  width: 100%;
  height: 4px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  background: #2828B2;
  display: block;
  transform: scale(0);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
@media only screen and (max-width: 991px) {
  #main-nav .utiliti .menu > li > a {
    color: #fff;
    padding: 16px 17px 18px 15px;
  }
  #main-nav .utiliti .menu > li > a:hover {
    color: #fff;
  }
}
@media only screen and (max-width: 991px) {
  #main-nav .utiliti .menu > li {
    display: block;
    border-bottom: 1px solid #4c4cb8;
  }
  #main-nav .utiliti .menu > li:hover a {
    color: #fff;
  }
}
#main-nav .utiliti .menu .has-dropdown a {
  padding-left: 18px;
  padding-right: 18px;
}
@media (max-width: 1199px) and (min-width: 992px) {
  #main-nav .utiliti .menu .has-dropdown a {
    padding-left: 12px;
    padding-right: 12px;
  }
}
#main-nav .utiliti .menu .has-dropdown a i {
  vertical-align: top;
  line-height: 11px;
  margin-left: 9px;
  margin-right: 6px;
}
@media only screen and (max-width: 991px) {
  #main-nav .utiliti .menu .has-dropdown a i {
    position: absolute;
    top: 19px;
    right: 14px;
  }
}
@media only screen and (max-width: 991px) {
  #main-nav .utiliti .menu .has-dropdown a {
    display: inline-block;
  }
}
#main-nav .utiliti .menu .has-dropdown ul.nav-dropdown {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 200%;
  left: -50%;
  width: 186px;
  padding: 6px 23px 15px 22px;
  transform: translateX(12%);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.14);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.14);
  background: #fff;
  z-index: 99;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
@media only screen and (max-width: 991px) {
  #main-nav .utiliti .menu .has-dropdown ul.nav-dropdown {
    display: none;
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  #main-nav .utiliti .menu .has-dropdown ul.nav-dropdown {
    left: 14px;
  }
}
#main-nav .utiliti .menu .has-dropdown ul.nav-dropdown li {
  border-bottom: 1px solid transparent;
}
#main-nav .utiliti .menu .has-dropdown ul.nav-dropdown li a {
  display: block;
  padding: 14px 0 13px;
  color: #000000;
  border-bottom: 1px solid #efefef;
  transition: all 0.4s;
  font-size: 12px;
}
#main-nav .utiliti .menu .has-dropdown ul.nav-dropdown li a:hover {
  padding-left: 10px;
  transition: all 0.4s;
  color: #2828B2;
}
@media only screen and (max-width: 991px) {
  #main-nav .utiliti .menu .has-dropdown ul.nav-dropdown li a {
    background: #4c4cd9;
  }
}
#main-nav .utiliti .menu .has-dropdown ul.nav-dropdown li:last-child a {
  border-bottom: 0;
}
@media only screen and (max-width: 991px) {
  #main-nav .utiliti .menu .has-dropdown ul.nav-dropdown li:last-child {
    border-bottom: none;
  }
}
@media only screen and (max-width: 991px) {
  #main-nav .utiliti .menu .has-dropdown ul.nav-dropdown {
    opacity: 1;
    visibility: visible;
    top: 100%;
    position: relative;
    left: 0;
    width: 100%;
    box-shadow: none;
  }
}
#main-nav .utiliti .menu .has-dropdown:hover ul.nav-dropdown {
  opacity: 1;
  visibility: visible;
  top: 85%;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
@media only screen and (max-width: 991px) {
  #main-nav .utiliti .menu .has-dropdown:hover ul.nav-dropdown {
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
  }
}
#main-nav .utiliti .user-manager {
  display: inline-block;
}
#main-nav .utiliti .user-manager .user-manager-block {
  display: flex;
  align-items: flex-end;
}
#main-nav .utiliti .user-manager .user-manager-block svg {
  display: inline-block;
}
#main-nav .utiliti .user-manager .user-manager-block .icon-user {
  margin-right: 5px;
}
#main-nav .utiliti .user-manager .user-manager-block .icon-log-out {
  margin-left: 5px;
}
#main-nav .utiliti .user-manager .user-manager-block .name-user {
  display: inline-block;
  line-height: 12px;
}
#main-nav .utiliti .user-manager .user-manager-block .name-user:hover {
  color: #2828B2;
}
#main-nav .utiliti .user-manager .user-manager-block .btn-logout-id {
  line-height: 11px;
}
@media only screen and (max-width: 991px) {
  #main-nav .utiliti .user-manager {
    position: fixed;
    top: 22px;
    right: 92px;
  }
}
#main-nav .utiliti .notification {
  display: inline-block;
  padding-right: 7px;
  position: relative;
  margin-left: 40px;
}
#main-nav .utiliti .notification .number-noti {
  display: block;
  position: absolute;
  top: -1px;
  right: 0;
  width: 10px;
  height: 10px;
  font-size: 9px;
  line-height: 10px;
  background: #E42529;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@media only screen and (max-width: 991px) {
  #main-nav .utiliti .notification {
    position: fixed;
    top: 23px;
    right: 54px;
  }
}
@media only screen and (max-width: 991px) {
  #main-nav {
    background: #fff;
    box-shadow: 0 0 0 2px #eee;
    -webkit-box-shadow: 0 0 0 2px #eee;
  }
}

.nav-toggle {
  line-height: 1;
  display: inline-block;
  padding: 2px;
  border: 0;
  right: 5px;
  background: transparent;
  width: 40px;
  height: 50px;
  position: fixed;
  z-index: 99;
  outline: none;
  visibility: hidden;
  top: 4px;
}
.nav-toggle .icon-menu {
  position: relative;
  display: inline-block;
  width: 23px;
  height: 17px;
  vertical-align: middle;
  fill: none;
}
.nav-toggle .icon-menu .line-1 {
  top: 0;
}
.nav-toggle .icon-menu .line {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  background-color: #2828B2;
}
.nav-toggle .icon-menu .line-2 {
  top: 50%;
  margin-top: -1.5px;
}
.nav-toggle .icon-menu .line-3 {
  bottom: 0;
}

.is-active .icon-menu .line-1 {
  -webkit-transform: translateY(7px) translateX(0) rotate(45deg);
  -ms-transform: translateY(7px) translateX(0) rotate(45deg);
  transform: translateY(7px) translateX(0) rotate(45deg);
}

.is-active .icon-menu .line-2 {
  opacity: 0;
}

.is-active .icon-menu .line-3 {
  -webkit-transform: translateY(-7px) translateX(0) rotate(-46deg);
  -ms-transform: translateY(-7px) translateX(0) rotate(-46deg);
  transform: translateY(-7px) translateX(0) rotate(-46deg);
}

.has-dropdown.is-active:after {
  transform: rotateX(180deg) translateY(-6px);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

@media only screen and (max-width: 991px) {
  .overlay {
    position: fixed;
    z-index: 9;
    display: none;
    background: rgba(19, 39, 57, 0.8);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }

  #main-nav {
    position: fixed;
    width: 100%;
    top: 0;
    height: 60px;
    z-index: 10;
  }
  #main-nav .logo {
    position: fixed;
    left: 10px;
  }
  #main-nav .nav-toggle {
    visibility: visible;
  }

  .menu {
    width: 300px;
    overflow-x: hidden;
    background: #2828b2;
    padding-bottom: 100px;
    position: fixed;
    top: 62px;
    left: 0;
    z-index: 9999;
    overflow-y: auto;
    visibility: hidden;
    max-width: 70%;
    height: 100%;
    margin: 0;
    -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-overflow-scrolling: touch;
  }
  .menu.is-visible {
    visibility: visible;
    width: 350px;
    max-width: 100%;
    border-top: 1px solid #d06568;
    height: 100%;
    overflow: auto;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.icon-preeminen {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.login-wrap {
  position: relative;
  height: 100vh;
  background: url("../images/banner-login.jpg") no-repeat center center;
  background-size: cover;
}
.login-wrap .banner {
  height: 100vh;
}
.login-wrap .banner .form-login-wrap {
  position: relative;
  height: 100vh;
  z-index: 9;
}
.login-wrap .banner .form-login-wrap .form-login {
  position: absolute;
  top: 22%;
  right: 0;
  width: 429px;
  height: 550px;
  padding: 49px;
  background: #E5E8EA;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
@media only screen and (max-width: 1199px) {
  .login-wrap .banner .form-login-wrap .form-login {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: none;
  }
}
@media only screen and (max-width: 500px) {
  .login-wrap .banner .form-login-wrap .form-login {
    width: 100%;
    height: 500px;
    padding: 30px;
  }
  .login-wrap .banner .form-login-wrap .form-login .logo h1 {
    margin-bottom: 30px;
  }
}
.login-wrap .banner .form-login-wrap .form-login .logo h1 {
  margin: 0 0 37px;
}
.login-wrap .banner .form-login-wrap .form-login .txt-system {
  color: #545454;
}
.login-wrap .banner .form-login-wrap .form-login .txt-auction {
  color: #2828B2;
  font-size: 25px;
  text-transform: uppercase;
  line-height: 29px;
  margin-bottom: 34px;
}
.login-wrap .banner .form-login-wrap .form-login .form-login-block .group-ac {
  margin-bottom: 12px;
}
.login-wrap .banner .form-login-wrap .form-login .form-login-block .group-ac label {
  margin-bottom: 9px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}
.login-wrap .banner .form-login-wrap .form-login .form-login-block .group-ac .enter-account {
  position: relative;
}
.login-wrap .banner .form-login-wrap .form-login .form-login-block .group-ac .enter-account input {
  display: block;
  width: 100%;
  height: 49px;
  border: none;
  padding: 0 50px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.login-wrap .banner .form-login-wrap .form-login .form-login-block .group-ac .enter-account svg {
  position: absolute;
  top: 17px;
  left: 25px;
}
.login-wrap .banner .form-login-wrap .form-login .form-login-block .forgot-btnlogin {
  margin-top: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 500px) {
  .login-wrap .banner .form-login-wrap .form-login .form-login-block .forgot-btnlogin {
    display: block;
  }
  .login-wrap .banner .form-login-wrap .form-login .form-login-block .forgot-btnlogin .forgot-password {
    display: block;
    margin-bottom: 11px;
  }
}
.login-wrap .banner .form-login-wrap .form-login .form-login-block .forgot-btnlogin .forgot-password:hover {
  color: #2828B2;
  text-decoration: underline;
}
.login-wrap .banner .form-login-wrap .form-login .form-login-block .forgot-btnlogin .btn-login {
  width: 164px;
  height: 49px;
  line-height: 49px;
  background: #2828B2;
  border: none;
  color: #fff;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.login-wrap .bg-black-banner {
  position: absolute;
  background: #000;
  opacity: 0.45;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.section-auction-info {
  padding-bottom: 29px;
}
@media only screen and (max-width: 500px) {
  .section-auction-info {
    padding-bottom: 10px;
  }
  .section-auction-info .col-pc-6 {
    width: 100%;
  }
}
.section-auction-info .title-box-st {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 34px;
}
@media only screen and (max-width: 500px) {
  .section-auction-info .title-box-st {
    margin-bottom: 27px;
  }
}
.section-auction-info .title-box-st .title-st {
  color: #000000;
  font-size: 21px;
  line-height: 25px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
}
@media only screen and (max-width: 767px) {
  .section-auction-info .title-box-st .title-st {
    font-size: 21px;
  }
}
@media only screen and (max-width: 500px) {
  .section-auction-info .title-box-st .title-st {
    font-size: 18px;
  }
}
.section-auction-info .title-box-st a {
  font-size: 12px;
  color: #6d6d6d;
}
.section-auction-info .title-box-st a:hover {
  color: #2828B2;
}
.section-auction-info .item-auction-block {
  margin-bottom: 18px;
  background: #fff;
  padding: 23px 32px 26px 26px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
@media only screen and (max-width: 991px) {
  .section-auction-info .item-auction-block {
    padding: 20px;
  }
}
.section-auction-info .item-auction-block .auction-group-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.section-auction-info .item-auction-block .auction-group-element .name-auction {
  font-size: 16px;
  line-height: 19px;
  color: #2828B2;
  font-weight: 700;
}
@media only screen and (max-width: 767px) {
  .section-auction-info .item-auction-block .auction-group-element .name-auction {
    font-size: 15px;
  }
}
.section-auction-info .item-auction-block .auction-group-element .view-detail {
  font-size: 12px;
  line-height: 14px;
  color: #6d6d6d;
}
.section-auction-info .item-auction-block .auction-group-element .view-detail:hover {
  color: #2828B2;
}
.section-auction-info .item-auction-block .item-auction-modi li {
  float: left;
  margin-right: 39px;
}
@media only screen and (max-width: 991px) {
  .section-auction-info .item-auction-block .item-auction-modi li {
    width: 50%;
    margin-right: 0;
  }
}
.section-auction-info .item-auction-block .item-auction-modi li span {
  display: block;
  color: #1e1e1e;
  max-width: 313px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.section-auction-info .item-auction-block .item-auction-modi li span:first-child {
  color: #757575;
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 14px;
}
.section-auction-info .item-auction-block .item-auction-modi li:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 991px) {
  .section-auction-info .item-auction-block .item-auction-modi li:last-child {
    width: 100%;
    margin-top: 11px;
  }
}

.txt-time-regis {
  color: #2828B2;
  margin-top: 11px;
  font-weight: 700;
}

@media only screen and (max-width: 767px) {
  .col-custom-70 {
    width: 100%;
  }

  .section-add-auction .form-enter-infoinsert .col-cs-4 {
    width: 100%;
  }
  .section-add-auction .form-enter-infoinsert .col-cs-8 {
    width: 100%;
  }
}
.head-insert-auction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 32px 32px 34px;
  margin-bottom: 11px;
  background: #fff;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
@media only screen and (max-width: 500px) {
  .head-insert-auction {
    display: block;
    padding: 25px 25px;
  }
}
.head-insert-auction h2.title-insert-auction {
  font-size: 16px;
  line-height: 19px;
  color: #2828B2;
  text-transform: uppercase;
  margin: 0;
  font-weight: 700;
}
@media only screen and (max-width: 500px) {
  .head-insert-auction h2.title-insert-auction {
    margin-bottom: 11px;
  }
}
.head-insert-auction .choose-noti-auction {
  position: relative;
}
.head-insert-auction .choose-noti-auction .btn-choose-noti {
  width: 462px;
  height: 30px;
  font-size: 12px;
  line-height: 14px;
  padding: 6px 25px 9px;
  color: #212121;
  border: 1px solid #ddd;
  background: #fff;
  text-align: left;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
@media only screen and (max-width: 1199px) {
  .head-insert-auction .choose-noti-auction .btn-choose-noti {
    width: 350px;
  }
}
@media only screen and (max-width: 991px) {
  .head-insert-auction .choose-noti-auction .btn-choose-noti {
    width: 200px;
  }
}
@media only screen and (max-width: 500px) {
  .head-insert-auction .choose-noti-auction .btn-choose-noti {
    width: 100%;
  }
}
.head-insert-auction .choose-noti-auction .caret {
  position: absolute;
  top: 14px;
  right: 16px;
}

@media only screen and (max-width: 767px) {
  .item-sidebar-suggestion {
    display: none;
  }
}
.item-sidebar-suggestion > li {
  display: block;
  padding: 22px 13px 25px;
  background: #fff;
  margin-bottom: 9px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
@media only screen and (max-width: 991px) {
  .item-sidebar-suggestion > li {
    padding: 11px 13px 16px;
  }
}
.item-sidebar-suggestion > li .name-auction-sug {
  margin-top: 0;
  margin-bottom: 17px;
}
.item-sidebar-suggestion > li .name-auction-sug a {
  font-size: 16px;
  line-height: 19px;
  color: #2828B2;
  font-weight: 700;
}
.item-sidebar-suggestion > li ul li {
  float: left;
  margin-right: 49px;
}
.item-sidebar-suggestion > li ul li span {
  display: block;
  margin-bottom: 8px;
  color: #757575;
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.item-sidebar-suggestion > li ul li span:last-child {
  margin-bottom: 0;
  color: #1e1e1e;
}
@media only screen and (max-width: 991px) {
  .item-sidebar-suggestion > li ul li {
    float: unset;
  }
}
.item-sidebar-suggestion > li ul li:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 991px) {
  .item-sidebar-suggestion > li ul li:last-child {
    margin-top: 15px;
  }
}

.form-enter-infoinsert {
  padding: 30px 34px 24px;
  background: #fff;
  margin-bottom: 11px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
@media only screen and (max-width: 500px) {
  .form-enter-infoinsert {
    padding: 25px;
  }
}
.form-enter-infoinsert .title-heading {
  margin-bottom: 20px;
}
.form-enter-infoinsert .selects-condition {
  margin-top: 6px;
}
.form-enter-infoinsert .selects-condition .btn-condition {
  display: block;
  height: 35px;
  text-align: left;
  border: 1px solid #3F40B9;
  color: #212121;
  padding: 0 41px;
  margin-bottom: 11px;
  background: #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  outline: none;
}
.form-enter-infoinsert .selects-condition .btn-condition:hover {
  background: #2828B2;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .form-enter-infoinsert .selects-condition .btn-condition {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .form-enter-infoinsert .selects-condition .btn-condition {
    height: 60px;
    line-height: 20px;
  }
}

.exit-accept {
  text-align: right;
  margin-top: 2px;
  margin-bottom: 64px;
}
@media only screen and (max-width: 1199px) {
  .exit-accept {
    margin-bottom: 20px;
  }
}
.exit-accept .btn-main-out {
  width: 164px;
  height: 35px;
  color: #fff;
  background: #a3a3a3;
  border: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  margin-left: 2px;
}
.exit-accept .btn-accept {
  background: #2828B2;
}

.form-enter-infoinsert .title-heading-rp {
  color: #2828B2;
  text-transform: uppercase;
  margin-top: 6px;
  font-size: 14px;
  margin-bottom: 0;
  font-weight: 700;
}
.form-enter-infoinsert ul.dropdown-form-rp li.item-form-rp {
  color: #474747;
  font-weight: 700;
}
.form-enter-infoinsert ul.dropdown-form-rp li.item-form-rp .name-rp {
  padding: 13px 5px;
  border-bottom: 1px solid #545454;
  cursor: pointer;
}
.form-enter-infoinsert ul.dropdown-form-rp li.item-form-rp .name-rp svg {
  margin-right: 12px;
  vertical-align: middle;
}
.form-enter-infoinsert ul.dropdown-form-rp li.item-form-rp .name-rp svg.minus-line {
  display: none;
}
.form-enter-infoinsert ul.dropdown-form-rp li.item-form-rp ul.nav-form-rp {
  padding: 13px 25px 8px;
}
.form-enter-infoinsert ul.dropdown-form-rp li.item-form-rp ul.nav-form-rp li {
  padding: 10px 0;
  font-weight: 400;
}
.form-enter-infoinsert ul.dropdown-form-rp li.item-form-rp ul.nav-form-rp li a:hover {
  color: #2828B2;
  border-bottom: 1px solid #2828B2;
}

.section-report-auction {
  margin-bottom: 17px;
}
.section-report-auction .fx-height-rp {
  min-height: calc(100vh - 250px);
}
.section-report-auction .form-enter-infoinsert {
  padding: 24px 40px 24px 26px;
}
.section-report-auction .form-enter-infoinsert .title-heading-rp {
  margin-top: 0;
  margin-bottom: 9px;
}
@media only screen and (max-width: 767px) {
  .section-report-auction .form-enter-infoinsert {
    padding: 25px;
  }
  .section-report-auction .form-enter-infoinsert .dropdown-form-rp li.item-form-rp ul.nav-form-rp li {
    padding: 11px 0;
  }
}

@media only screen and (max-width: 767px) {
  .section-pay-auction .col-cs-4 {
    width: 100%;
  }
  .section-pay-auction .col-cs-8 {
    width: 100%;
  }
  .section-pay-auction .col-out-mb {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .section-pay-auction .form-enter-infoinsert {
    padding: 25px;
  }
}
.section-pay-auction .money-available {
  background: #EAEAEA;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px 0 18px;
}
.section-pay-auction .money-available span {
  color: #757575;
}
.section-pay-auction .form-enter-infoinsert.pay-add-col {
  padding-bottom: 17px;
}
.section-pay-auction .form-enter-infoinsert.pay-add-col .title-heading-rp {
  margin-bottom: 20px;
}
.section-pay-auction .form-enter-infoinsert.pay-add-col .col-cs-4, .section-pay-auction .form-enter-infoinsert.pay-add-col .col-cs-8 {
  margin-bottom: 17px;
}
.section-pay-auction .form-enter-infoinsert {
  padding-bottom: 34px;
}
.section-pay-auction .form-enter-infoinsert .tab-content-box {
  margin-top: 19px;
}
.section-pay-auction .form-enter-infoinsert .tab-content-box .nav-tabs {
  border-bottom: 0;
}
.section-pay-auction .form-enter-infoinsert .tab-content-box .nav-tabs li {
  float: left;
}
@media only screen and (max-width: 991px) {
  .section-pay-auction .form-enter-infoinsert .tab-content-box .nav-tabs li {
    width: 50%;
  }
}
.section-pay-auction .form-enter-infoinsert .tab-content-box .nav-tabs li a {
  border: 1px solid #000095;
  width: 257px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  padding: 0;
  color: #2828B2;
  margin-right: 0;
}
@media only screen and (max-width: 991px) {
  .section-pay-auction .form-enter-infoinsert .tab-content-box .nav-tabs li a {
    width: 100%;
  }
}
.section-pay-auction .form-enter-infoinsert .tab-content-box .nav-tabs li a:hover {
  background: rgba(163, 163, 163, 0.12);
}
.section-pay-auction .form-enter-infoinsert .tab-content-box .nav-tabs li a i {
  padding: 0 0 0 6px;
  font-size: 12px;
}
.section-pay-auction .form-enter-infoinsert .tab-content-box .nav-tabs li.active a {
  background: #2828B2;
  color: #fff;
  border: 1px solid #2828B2;
}
.section-pay-auction .form-enter-infoinsert .tab-content-box .nav-tabs li:first-child a {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.section-pay-auction .form-enter-infoinsert .tab-content-box .nav-tabs li:last-child a {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.section-pay-auction .form-enter-infoinsert .tab-content-box .tab-content {
  margin-top: 14px;
}
.section-pay-auction .form-enter-infoinsert .tab-content-box .tab-content p.note {
  padding: 0 5.5px;
}
@media only screen and (max-width: 991px) {
  .section-pay-auction .form-enter-infoinsert .tab-content-box .tab-content p.note {
    line-height: 19px;
  }
}
.section-pay-auction .form-enter-infoinsert .tab-content-box .tab-content .col-cs-4, .section-pay-auction .form-enter-infoinsert .tab-content-box .tab-content .col-cs-8, .section-pay-auction .form-enter-infoinsert .tab-content-box .tab-content .col-cs-12 {
  margin-bottom: 17px;
}
.section-pay-auction .utility-selects {
  margin-bottom: 52px;
}
@media only screen and (max-width: 767px) {
  .section-pay-auction .utility-selects {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 500px) {
  .section-pay-auction .utility-selects .uti-left {
    width: 100%;
  }
  .section-pay-auction .utility-selects .uti-left .btn-main-pay-look {
    width: 100%;
    margin-bottom: 11px;
    margin-right: 0;
  }
}
.section-pay-auction .utility-selects .btn-main-pay-look {
  margin-right: 7px;
}
@media only screen and (max-width: 991px) {
  .section-pay-auction .utility-selects .btn-main-pay-look {
    width: 163px;
  }
}
@media only screen and (max-width: 767px) {
  .section-pay-auction .utility-selects .btn-main-pay-look {
    width: 149px;
  }
}
@media only screen and (max-width: 500px) {
  .section-pay-auction .utility-selects .uti-right {
    width: 100%;
  }
  .section-pay-auction .utility-selects .uti-right .btn-main-pay-look {
    width: 100%;
  }
}
.section-pay-auction .utility-selects .uti-right .btn-main-pay-look {
  margin-right: 0;
  background: #a3a3a3;
}

@media only screen and (max-width: 500px) {
  .section-search-auction .form-enter-infoinsert.pay-add-col {
    padding-bottom: 20px;
  }
  .section-search-auction .form-enter-infoinsert.pay-add-col .col-cs-4 {
    width: 100%;
  }
}
.section-search-auction .form-enter-infoinsert {
  padding-bottom: 34px;
}
.section-search-auction .form-enter-infoinsert .utility-selects {
  margin-top: 4px;
}
@media only screen and (max-width: 767px) {
  .section-search-auction .form-enter-infoinsert .utility-selects .btn-main-pay-look {
    width: 129px;
  }
}
@media only screen and (max-width: 500px) {
  .section-search-auction .form-enter-infoinsert .utility-selects .uti-left {
    width: 100%;
  }
  .section-search-auction .form-enter-infoinsert .utility-selects .uti-right {
    width: 100%;
  }
  .section-search-auction .form-enter-infoinsert .utility-selects .btn-main-pay-look {
    width: 100%;
    margin-bottom: 11px;
  }
}
.section-search-auction .form-enter-infoinsert .search-box {
  padding-bottom: 20px;
}
.section-search-auction .form-enter-infoinsert .search-box .search-box-detail {
  display: flex;
  align-items: center;
}
.section-search-auction .form-enter-infoinsert .search-box .search-box-detail span {
  color: #000000;
}
.section-search-auction .form-info-auction-block {
  background: #fff;
  margin-bottom: 62px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
@media only screen and (max-width: 500px) {
  .section-search-auction .form-info-auction-block {
    margin-bottom: 20px;
  }
}
.section-search-auction .form-info-auction-block .title-auction-search {
  margin: 0;
  padding: 20px 34px;
  font-size: 16px;
  line-height: 19px;
  color: #2828B2;
  text-transform: uppercase;
  font-weight: 700;
}
@media only screen and (max-width: 500px) {
  .section-search-auction .form-info-auction-block .title-auction-search {
    padding: 20px 25px;
  }
}
@media only screen and (max-width: 991px) {
  .section-search-auction .table-content-wrap {
    overflow: auto;
  }
  .section-search-auction .table-content-wrap::-webkit-scrollbar {
    height: 5px;
  }
  .section-search-auction .table-content-wrap::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .section-search-auction .table-content-wrap::-webkit-scrollbar-thumb {
    background: #2828B2;
  }
  .section-search-auction .table-content-wrap::-webkit-scrollbar-thumb:hover {
    background: #2828B2;
  }
  .section-search-auction .table-content-wrap .table-content {
    width: 950px;
  }
}
.section-search-auction .table-content-wrap .table-content {
  padding: 0 34px;
  position: relative;
}
@media only screen and (max-width: 500px) {
  .section-search-auction .table-content-wrap .table-content {
    padding: 0 11px;
  }
}
.section-search-auction .table-content-wrap .table-content:before {
  content: '';
  position: absolute;
  background: #EBEBFC;
  width: 100%;
  top: 0;
  left: 0;
  height: 53px;
  border-bottom: 0.5px solid #a3a3a3;
}
@media only screen and (max-width: 1199px) {
  .section-search-auction .table-content-wrap .table-content:before {
    height: 68px;
  }
}
@media only screen and (max-width: 500px) {
  .section-search-auction .table-content-wrap .table-content:before {
    height: 54px;
  }
}
.section-search-auction .table-content-wrap .table-content .tbl-info-auction {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.section-search-auction .table-content-wrap .table-content .tbl-info-auction thead tr th {
  padding: 18px 17px;
  color: #2828B2;
  font-weight: 400;
}
@media only screen and (max-width: 500px) {
  .section-search-auction .table-content-wrap .table-content .tbl-info-auction thead tr th {
    padding: 11px 17px;
  }
}
.section-search-auction .table-content-wrap .table-content .tbl-info-auction tbody tr {
  border-bottom: 0.5px solid #a3a3a3;
}
.section-search-auction .table-content-wrap .table-content .tbl-info-auction tbody tr td {
  color: #3d3d3d;
  padding: 18px 17px;
}
@media only screen and (max-width: 500px) {
  .section-search-auction .table-content-wrap .table-content .tbl-info-auction tbody tr td {
    padding: 11px 17px;
  }
}
.section-search-auction .number-record {
  padding: 20px 56px 34px 45px;
}
@media only screen and (max-width: 500px) {
  .section-search-auction .number-record {
    padding: 20px 25px;
  }
}
.section-search-auction .number-record .txt-number-record {
  color: #757575;
  font-size: 12px;
}
.section-search-auction .number-record .number-page button {
  border: none;
  background: #fff;
  color: #757575;
  padding: 0 3px;
}
.section-search-auction .number-record .number-page button.active {
  color: #2828B2;
}

#footer {
  padding: 34px 0 39px;
}
#footer ul.item-info-us li {
  display: inline-block;
  margin-right: 122px;
}
#footer ul.item-info-us li span {
  color: #212121;
  display: block;
}
#footer ul.item-info-us li span i {
  margin-right: 11px;
  color: #666;
}
#footer ul.item-info-us li span:first-child {
  margin-bottom: 9px;
}
@media only screen and (max-width: 1199px) {
  #footer ul.item-info-us li {
    width: 50%;
    margin-right: 0;
    float: left;
  }
}
@media only screen and (max-width: 500px) {
  #footer ul.item-info-us li {
    width: 100%;
    margin-bottom: 15px;
  }
}
#footer ul.item-info-us li:nth-child(2) {
  margin-right: 135px;
}
@media only screen and (max-width: 1199px) {
  #footer ul.item-info-us li:nth-child(2) {
    margin-right: 0;
  }
}
#footer ul.item-info-us li:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 1199px) {
  #footer ul.item-info-us li:last-child {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  #footer {
    padding: 25px 0 25px;
  }
}
@media only screen and (max-width: 767px) {
  #footer {
    padding: 25px 0 10px;
  }
}

#footer.foot-main {
  padding-top: 17px;
}

.btn-switch {
  margin-left: 22px;
  font-size: 20px;
  position: relative;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-switch__radio {
  display: none;
}

.btn-switch__label {
  display: inline-block;
  padding: 1px;
  vertical-align: top;
  font-size: 9px;
  font-weight: 700;
  line-height: 19px;
  color: #666;
  cursor: pointer;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.btn-switch__label + .btn-switch__label {
  padding-right: .75em;
  padding-left: 0;
}

.btn-switch__txt {
  position: relative;
  z-index: 2;
  display: inline-block;
  min-width: 1.5em;
  opacity: 1;
  pointer-events: none;
  transition: opacity .2s ease-in-out;
}

.btn-switch__radio_no:checked ~ .btn-switch__label_yes .btn-switch__txt,
.btn-switch__radio_yes:checked ~ .btn-switch__label_no .btn-switch__txt {
  opacity: 0;
}

.btn-switch__label:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #f0f0f0;
  border-radius: 1.5em;
  box-shadow: inset 0 0.0715em 0.3572em rgba(43, 43, 43, 0.05);
  transition: background .2s ease-in-out;
}

.btn-switch__radio_yes:checked ~ .btn-switch__label:before {
  background: #2828B2;
}

.btn-switch__label_no:after {
  content: "";
  position: absolute;
  z-index: 2;
  top: .5em;
  bottom: .5em;
  left: .5em;
  width: 2em;
  background: #fff;
  border-radius: 1em;
  pointer-events: none;
  box-shadow: 0 0.1429em 0.2143em rgba(43, 43, 43, 0.2), 0 0.3572em 0.3572em rgba(43, 43, 43, 0.1);
  transition: left .2s ease-in-out, background .2s ease-in-out;
}

.btn-switch__radio_yes:checked ~ .btn-switch__label_no:after {
  left: calc(100% - 2.5em);
  background: #fff;
}

.btn-switch__radio_no:checked ~ .btn-switch__label_yes:before,
.btn-switch__radio_yes:checked ~ .btn-switch__label_no:before {
  z-index: 1;
}

.btn-switch__radio_yes:checked ~ .btn-switch__label_yes {
  color: #fff;
}

input[name="daterange"], input[name="datenormal"] {
  background: #fff url("../images/Path 24.svg") no-repeat;
  background-position: center right 21px;
  cursor: pointer;
}

input[name="need-filed"] {
  color: #FF0B0B;
}

input[name="datenormal"]::-webkit-inner-spin-button {
  display: none;
}

input[name="datenormal"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

#back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 31px;
  height: 31px;
  background: #2828B2;
  color: #fff;
  text-align: center;
  line-height: 31px;
  font-size: 18px;
  font-weight: bold;
  background-size: 100% 100%;
  display: none;
  z-index: 100;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

a#back-to-top:hover {
  background: rgba(40, 40, 178, 0.68) !important;
}

.btn-calculate {
  background: #2828B2;
  color: #fff;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
