// ======================================================
// Abstracts :: Variables
// ======================================================


//Colors picker
$cl-green: #006644;
$cl-white: #fff;
$cl-white-fd: #fdfdfd;
$cl-black: #545454;
$cl-black-0: #000000;
$cl-blue: #2828B2;
$cl-smoke: #7b7b7b;
$cl-smoke-75: #757575;
$cl-yl: #f39316;
$cl-24: #242527;
$cl-37: #373a43;
$cl-a2: #a2a2a2;
$cl-black-21: #212121;
$cl-ddd: #ddd;
$cl-3f4: #3F40B9;

//Background color
$bg-green: #006644;
$bg-white: #fff;
$bg-yl: #f39316;
$bg-smoke: #E5E8EA;
$bg-blue: #2828B2;
$bg-3f4: #3F40B9;
//Font size
$fs-14: 14px;