// ======================================================
// Layout :: Navigation
// ======================================================

//#main-nav{
//  .logo{
//    h1{
//      margin: 13px 0 25px;
//    }
//  }
//  ul.menu{
//    li{
//      position: relative;
//      display: inline-block;
//      margin: 40px 0;
//      a{
//        color: $cl-green;
//        font-weight: 700;
//        padding: 20px 18px;
//        display: block;
//      }
//    }
//    .has-dropdown{
//      &:after{
//        content: "\f0dd";
//        position: absolute;
//        top: 20px;
//        right: 7px;
//        color: $cl-green;
//        font: normal normal normal 14px/1 fontawesome;
//        -webkit-transition: all 0.4s;
//        -moz-transition: all 0.4s;
//        -ms-transition: all 0.4s;
//        -o-transition: all 0.4s;
//        transition: all 0.4s;
//      }
//    }
//    .search{
//      display: inline-block;
//      margin: 40px 0 40px 18px;
//      width: 60px;
//      height: 60px;
//      line-height: 60px;
//      text-align: center;
//      background: $bg-green;
//      border-radius: 50%;
//      -moz-border-radius: 50%;
//      -webkit-border-radius: 50%;
//      -ms-border-radius: 50%;
//      -o-border-radius: 50%;
//      img{
//        text-align: center;
//      }
//    }
//  }
//
//}


#main-nav{
  transition: all 0.4s;
  .logo{
    h1{
      font-size: unset;
      margin: 15px 0 12px;
    }
  }
  .utiliti{
    .menu{
      display: inline-block;
      @include mobile{
        width: 100%;
      }
      &>li:first-child{
        display: none;
        @include tablet{
          display: block;
          padding: 16px 17px 18px 15px;
          &:hover{
            background: $bg-white;
          }
          a.name-user{
            color: #212121;
          }
        }
      }
      &>li{
        position: relative;
        display: inline-block;
        &:hover >a:before{
          transform: scale(1);
          -webkit-transition: all 0.4s;
          -moz-transition: all 0.4s;
          -o-transition: all 0.4s;
          transition: all 0.4s;
        }
        &:hover >a{
          color: $cl-blue;
        }
        &>a{
          display: block;
          color: $cl-black-0;
          padding: 24px 17px 23px 35px;
          &:before{
            content: '';
            position: relative;
            top: 39px;
            width: 100%;
            height: 4px;
            -webkit-transition: all 0.4s;
            -moz-transition: all 0.4s;
            -o-transition: all 0.4s;
            transition: all 0.4s;
            background: $bg-blue;
            display: block;
            transform: scale(0);
            -webkit-transition: all 0.4s;
            -moz-transition: all 0.4s;
            -o-transition: all 0.4s;
            transition: all 0.4s;
          }
          @include tablet{
            color: $cl-blue;
            &:before{
              display: none;
            }
            padding: 16px 17px 18px 15px;
            &:hover{
              color: $cl-blue;
            }
          }
        }
        @include tablet{
          display: block;
          &:hover a{
            color: $cl-white;
          }
          &:hover{
            background: $bg-blue;
          }
        }
      }
      .has-dropdown{
        a{
          padding-left: 18px;
          padding-right: 18px;
          @media (max-width: 1199px) and (min-width: 992px) {
            padding-left: 12px;
            padding-right: 12px;
          }
          i{
            vertical-align: top;
            line-height: 11px;
            margin-left: 9px;
            margin-right: 6px;
            @include tablet{
              position: absolute;
              top: 19px;
              right: 14px;
            }
          }
          @include tablet{
            display: inline-block;
          }
        }
        ul.nav-dropdown{
          opacity: 0;
          visibility: hidden;
          position: absolute;
          top: 200%;
          left: 50%;
          width: 186px;
          padding: 6px 23px 15px 22px;
          transform: translateX(-50%);
          -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.14);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.14);
          background: $bg-white;
          z-index: 99;
          -webkit-transition: all 0.4s;
          -moz-transition: all 0.4s;
          -o-transition: all 0.4s;
          transition: all 0.4s;
          @include tablet{
            display: none;
            -webkit-transition: all 0s;
            -moz-transition: all 0s;
            -o-transition: all 0s;
            transition: all 0s;
          }
          @media (max-width: 1199px) and (min-width: 992px) {
            left: 14px;
          }
          li{
            border-bottom: 1px solid transparent;
            a{
              display: block;
              padding: 14px 0 13px;
              color: $cl-black-0;
              border-bottom: 1px solid #efefef;
              transition: all 0.4s;
              font-size: 12px;
              &:hover{
                padding-left: 10px;
                transition: all 0.4s;
                color: $cl-blue;
              }
              @include tablet{
                color: $cl-blue;
                background: #f3f3f3;
                padding: 14px 19px 13px;

              }
            }

          }
          li:last-child{
            a{
              border-bottom: 0;
            }
            @include tablet{
              border-bottom: none;
            }
          }
          @include tablet{
            opacity: 1;
            visibility: visible;
            top: 100%;
            position: relative;
            left: 0;
            width: 100%;
            box-shadow: none;
            padding: 0;
            transform: translateX(0);
          }
        }
        &:hover ul.nav-dropdown{
          opacity: 1;
          visibility: visible;
          top: 85%;
          -webkit-transition: all 0.4s;
          -moz-transition: all 0.4s;
          -o-transition: all 0.4s;
          transition: all 0.4s;
          @include tablet{
            -webkit-transition: all 0s;
            -moz-transition: all 0s;
            -o-transition: all 0s;
            transition: all 0s;
          }
        }
      }
    }
    .user-manager{
      display: inline-block;
      .user-manager-block{
        display: flex;
        align-items: flex-end;
        svg{
          display: inline-block;
        }
        .icon-user{
          margin-right: 5px;
        }
        .icon-log-out{
          margin-left: 5px;
        }
        .name-user{
          display: inline-block;
          line-height: 12px;
          &:hover{
            color: $cl-blue;
          }
        }
        .btn-logout-id{
          line-height: 11px;
        }
      }
      @include tablet{

        display: none;
      }
    }
    .notification{
      display: inline-block;
      padding-right: 7px;
      position: relative;
      margin-left: 40px;
      .number-noti{
        display: block;
        position: absolute;
        top: -1px;
        right: 0;
        width: 10px;
        height: 10px;
        font-size: 9px;
        line-height: 10px;
        background: #E42529;
        color: $cl-white;
        text-align: center;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
      @include tablet{
        position: fixed;
        top: 23px;
        right: 54px;
      }
    }
  }
  @include tablet{
    background: $bg-white;
    box-shadow: 0 0 0 2px #eee;
    -webkit-box-shadow: 0 0 0 2px #eee;
  }
}


.nav-toggle {
  line-height: 1;
  display: inline-block;
  padding: 2px;
  border: 0;
  right: 5px;
  background: transparent;
  width: 40px;
  height: 50px;
  position: fixed;
  z-index: 99;
  outline: none;
  visibility: hidden;
  top: 4px;
  .icon-menu {
    position: relative;
    display: inline-block;
    width: 23px;
    height: 17px;
    vertical-align: middle;
    fill: none;
    .line-1 {
      top: 0;
    }
    .line {
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: 3px;
      -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.000);
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.000);
      -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
      transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
      background-color: $bg-blue;
    }
    .line-2 {
      top: 50%;
      margin-top: -1.5px;
    }
    .line-3 {
      bottom: 0;
    }
  }
}
.is-active .icon-menu .line-1 {
  -webkit-transform: translateY(7px) translateX(0) rotate(45deg);
  -ms-transform: translateY(7px) translateX(0) rotate(45deg);
  transform: translateY(7px) translateX(0) rotate(45deg);
}
.is-active .icon-menu .line-2 {
  opacity: 0;
}
.is-active .icon-menu .line-3 {
  -webkit-transform: translateY(-7px) translateX(0) rotate(-46deg);
  -ms-transform: translateY(-7px) translateX(0) rotate(-46deg);
  transform: translateY(-7px) translateX(0) rotate(-46deg);
}

.has-dropdown.is-active:after{
  transform: rotateX(180deg) translateY(-6px);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

@include tablet{
  .overlay {
    position: fixed;
    z-index: 9;
    display: none;
    background: rgba(19, 39, 57, 0.8);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }

  #main-nav{
    position: fixed;
    width: 100%;
    top: 0;
    height: 60px;
    z-index: 10;
    .logo{
      position: fixed;
      left: 10px;
    }
    .nav-toggle{
      visibility: visible;
    }
  }
  .menu {
    width: 300px;
    overflow-x: hidden;
    background: $bg-white;
    padding-bottom: 100px;
    position: fixed;
    top: 62px;
    left: 0;
    z-index: 9999;
    overflow-y: auto;
    visibility: hidden;
    max-width: 70%;
    height: 100%;
    margin: 0;
    -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-overflow-scrolling: touch;
    &.is-visible {
      visibility: visible;
      width: 350px;
      max-width: 100%;
      border-top: 1px solid #4c4cb8;
      height: 100%;
      overflow: auto;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
  }
}