// ======================================================
// Components :: Button
// ======================================================
.btn-switch {
  margin-left: 25px;
  font-size: 20px;
  position: relative;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-switch__radio {
  display: none;
}
.btn-switch__label {
  display: inline-block;
  padding: 1px;
  vertical-align: top;
  font-size: 9px;
  font-weight: 700;
  line-height: 19px;
  color: #666;
  cursor: pointer;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}
.btn-switch__label + .btn-switch__label {
  padding-right: .75em;
  padding-left: 0;
}
.btn-switch__txt {
  position: relative;
  z-index: 2;
  display: inline-block;
  min-width: 1.5em;
  opacity: 1;
  pointer-events: none;
  transition: opacity .2s ease-in-out;
}
.btn-switch__radio_no:checked ~ .btn-switch__label_yes .btn-switch__txt,
.btn-switch__radio_yes:checked ~ .btn-switch__label_no .btn-switch__txt {
  opacity: 0;
}
.btn-switch__label:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #f0f0f0;
  border-radius: 1.5em;
  box-shadow: inset 0 .0715em .3572em rgba(43,43,43,.05);
  transition: background .2s ease-in-out;
}
.btn-switch__radio_yes:checked ~ .btn-switch__label:before {
  background: $bg-blue;
}
.btn-switch__label_no:after {
  content: "";
  position: absolute;
  z-index: 2;
  top: .5em;
  bottom: .5em;
  left: .5em;
  width: 2em;
  background: #fff;
  border-radius: 1em;
  pointer-events: none;
  box-shadow: 0 .1429em .2143em rgba(43,43,43,.2), 0 .3572em .3572em rgba(43,43,43,.1);
  transition: left .2s ease-in-out, background .2s ease-in-out;
}
.btn-switch__radio_yes:checked ~ .btn-switch__label_no:after {
  left: calc(100% - 2.5em);
  background: #fff;
}
.btn-switch__radio_no:checked ~ .btn-switch__label_yes:before,
.btn-switch__radio_yes:checked ~ .btn-switch__label_no:before {
  z-index: 1;
}
.btn-switch__radio_yes:checked ~ .btn-switch__label_yes {
  color: #fff;
}


input[name="daterange"],input[name="datenormal"]{
  background: #fff url("../images/Path 24.svg") no-repeat;
  background-position: center right 21px;
  cursor: pointer;
}
input[name="need-filed"]{
  color: #FF0B0B;
}

input[name="datenormal"]::-webkit-inner-spin-button {
  display: none;
}
input[name="datenormal"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
#back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 31px;
  height: 31px;
  background: $bg-blue;
  color: #fff;
  text-align: center;
  line-height: 31px;
  font-size: 18px;
  font-weight: bold;
  background-size: 100% 100%;
  display: none;
  z-index: 100;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;

}
a#back-to-top:hover{
  background: rgba(40, 40, 178, 0.68)!important;
}
.btn-calculate{
  background: $bg-blue;
  color: $cl-white;
  text-align: center;
}

.issuers .select2-container--default .select2-selection--single .select2-selection__rendered {
  width: 266px;
  height: 50px;
  line-height: 50px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border: none;
  color: #757575;
  padding: 0 29px;
  background: #fff;
  text-align: left;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.issuers .select2-container--default .select2-selection--single {
  border: none;
  border-radius: 27px;
  height: 100%;
}
.issuers .select2-container--default .select2-selection--single .select2-selection__arrow{
  top: 12px;
  right: 20px;
}
span.select2-search.select2-search--dropdown{
  display: none;
}
.issuers .select2-container--default.select2-container--open.select2-container--below .select2-selection--single,.issuers  .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
span.select2.select2-container.select2-container--default.select2-container--below.select2-container--focus {
  outline: none;
  border: none;
}
.select2-container--open .select2-dropdown--below{
  border: none;
  //border-top-left-radius: 20px;
  //border-top-right-radius: 20px;
  //border-bottom-left-radius: 20px;
  //border-bottom-right-radius: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0,0,0,0.14);
}
.select2-container--default .select2-results > .select2-results__options{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 12px 0;
}
.select2-results__option{
  padding: 14px 30px;
}
span.select2-selection.select2-selection--single{
  outline: 0;
}
//.select2-container--default .select2-results__option[aria-selected=true]{
//  background: #fff;
//  color: $cl-smoke-75;
//}

.cs-drop .select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple{
  border-radius: 2px;
}
.cs-drop span.select2-selection.select2-selection--single{
  height: 35px;
  border: 1px solid #ddd;
}
.cs-drop .select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 35px;
  padding-left: 25px;
}
.cs-drop .select2-container--default .select2-selection--single .select2-selection__arrow{
  top: 4px;
  right: 10px;
}
.cs-drop .select2-container--default .select2-results>.select2-results__options{
  border-radius: 2px;
  padding: 0;
}
.cs-drop .select2-container--open .select2-dropdown--below{
  border-radius: 2px;
}
.cs-drop .select2-results__option{
  padding: 9px 30px;
}
.cs-drop .formgroup-item-info span.select2.select2-container.select2-container--default{
  width: 100%!important;
}

.tooltip-inner{
  background-color: #2828B2;
}
.cs-drop .choose-noti-auction span.select2.select2-container.select2-container--default{
  width: 462px!important;
  @include tablet-horizontal{
    width: 350px !important;
  }
  @include tablet{
    width: 222px!important;
  }
  @include mobile-horizontal{
    width: 100%!important;
  }
}
.select2-container--open .select2-dropdown--below{
  margin-top: 7px;
}
.cs-drop .select2-container--open .select2-dropdown--below{
  margin-top: 0;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: rgba(61, 61, 172, 0.48);
}
.select2-container--default .select2-results__option[aria-selected=true]{
  background: $bg-blue;
  color: $cl-white;
}
.cs-drop span.select2.select2-container.select2-container--default{
  width: 100%!important;
}
button.applyBtn.btn.btn-sm.btn-primary {
  background: #2828b2;
}
button.applyBtn.btn.btn-sm.btn-primary:hover{
  background: #5454c5;
}
.daterangepicker td.active, .daterangepicker td.active:hover{
  background-color: $bg-blue;
}